---
import MainLayout from "../layouts/MainLayout.astro"
import Box from "../components/Box.astro"
import Me from "../components/Me.astro"
import Some from "../components/Some.astro"
---

<MainLayout title="About me" metaDescription="Information about me and link for contact">
    <Box overskrift="IDA MIKKELSEN", underoverskrift1="DESIGN WITH PURPOSE", underoverskrift2="ART WITH SOUL" />
    <div class="mt-10">
    <Me></Me></div>
    <div class="flex justify-center items-center mt-10  mx-14">
    <Some></Some>
</div>
</MainLayout>
