---
import MainLayout from "../layouts/MainLayout.astro";
import Box from "../components/Box.astro";
import Skills from "../components/Skills.astro";
import Skillscode from "../components/Skillscode.astro";
import Gallery2 from "../components/Gallery2.astro";
import Gallery3 from "../components/Gallery3.astro";
import Text from "../components/Text.astro"
import Box2 from "../components/Box2.astro";
import Gallery4 from "../components/Gallery4.astro";
import Gallery5 from "../components/Gallery5.astro";
import Some from "../components/Some.astro";
---
<MainLayout title="Titel">

<!--header -->
<div class=" flex flex-col justify-center items-center gap-y-5 lg:flex-row mb-7">

  
  <Box overskrift="IDA MIKKELSEN", underoverskrift1="DESIGN WITH PURPOSE", underoverskrift2="ART WITH SOUL" />

  <!--Skills -->
<article class="flex flex-row">
  
    <button id="prevSlide" class="text-Blue-500 text-4xl font-bold mx-3">
        &#10094;
      </button>

      <div class="relative w-full flex justify-center">
        <div class="mySlides active">
          <Skills />
        </div>

        <div class="mySlides hidden ">
          <Skillscode />
        </div>
      </div>
 <!-- Right Arrow -->
 <button id="nextSlide" class="text-Blue-500  text-4xl font-bold mx-3">
    &#10095;
  </button></article>

</div>


<section class="space-y-10 lg:space-y-32 ">
<!-- Graphic  -->
<div>
  <div class="flex flex-col justify-center items-center lg:flex-row lg:justify-start">
<Box2 overskrift="Graphics", underoverskrift1="AND ILLUSTRATIONS" />
<button id="toggleButton1" class="text-Blue-500 p-2 rounded-md text-4xl -rotate-90 ml-4"> &#10094;</button>
</div>
<div id="collapsibleContent1" class="content overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out flex flex-col justify-center items-center lg:flex-row">

  <Gallery2 img1="/graphic1.png" img2="/graphic2.jpg" img3="/graphic3.jpg" img4="/graphic4.png" img5="/graphic5.png" img6="/graphic6.png" id="gallery1" />


  <Text tekst="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia autem iste doloribus aspernatur debitis non enim ex dignissimos provident rem quod, id sequi natus ad vel hic, voluptatum accusantium quasi!"></Text>
</div>

</div>

<!-- Internship  -->

<div>
  <div class="flex flex-col justify-center items-center lg:flex-row lg:justify-start">
<Box2 overskrift="Internship", underoverskrift1="TACTILE GRAPHICS" />
<button id="toggleButton2" class="text-Blue-500 p-2 rounded-md text-4xl -rotate-90 ml-4"> &#10094;</button>
</div>
<div id="collapsibleContent2" class="content overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out flex flex-col justify-center items-center lg:flex-row">

  <Gallery3 img1="/internship1.png" img2="/internship2.jpg" img3="/internship3.jpg" img4="/internship4.jpg" img5="/internship5.jpg" img6="/internship6.png" img7="/internship7.png" id="gallery1"></Gallery3>


  <Text tekst="I have done a 10 week internship at Tactile games. I worked as a graphic designer in their marketing department. I have done graphics for event banners, email banners, buttons, SoMe posts for Instagram, app logos and feature graphics. Some are created using existing assets, where other times I decided to draw my own assets. Not only did i work with 2D graphic, but I also worked with 3D models in Maya for posing."></Text>
</div>

</div>


<!-- Brand identity -->
<div>
  <div class="flex flex-col justify-center items-center lg:flex-row lg:justify-start">
<Box2 overskrift="Brand identity", underoverskrift1="AND PRODUCTS - NIJI" />
<button id="toggleButton4" class="text-Blue-500 p-2 rounded-md text-4xl -rotate-90 ml-4"> &#10094;</button>
</div>
<div id="collapsibleContent4" class="content overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out flex flex-col justify-center items-center lg:flex-row">

  <Gallery4 img1="/brand1.jpg" img2="/brand2.png" img3="/brand3.png" img4="/brand4.png" img5="/brand5.png" img6="/brand6.png" img7="/brand7.png" id="gallery1"></Gallery4>


  <Text tekst="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia autem iste doloribus aspernatur debitis non enim ex dignissimos provident rem quod, id sequi natus ad vel hic, voluptatum accusantium quasi!"></Text>
</div>

</div>


<!-- Web -->
<div>
  <div class="flex flex-col justify-center items-center lg:flex-row lg:justify-start">
<Box2 overskrift="Webdesign", underoverskrift1="CODE, UI, UX AND ANIMATION" />
<button id="toggleButton5" class="text-Blue-500 p-2 rounded-md text-4xl -rotate-90 ml-4"> &#10094;</button>
</div>
<div id="collapsibleContent5" class="content overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out flex flex-col justify-center items-center lg:flex-row">

  <Gallery5 img1="/web2.png" img2="/web1.png" img3="/web3.png" ></Gallery5>


  <Text tekst="Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia autem iste doloribus aspernatur debitis non enim ex dignissimos provident rem quod, id sequi natus ad vel hic, voluptatum accusantium quasi!"></Text>
</div>

</div>


</section>
<div class="flex justify-center items-center mx-16 mt-5 lg:mt-11">
<Some></Some>
</div>

</MainLayout>


<style></style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // SLIDESHOW FUNCTIONALITY
    let slideIndexMain = 0;
    const slidesMain = document.querySelectorAll(".mySlides");

    function showSlidesMain(index) {
        slidesMain.forEach((slide, i) => {
            slide.style.display = i === index ? "block" : "none";
        });
    }

    function changeSlideMain(n) {
        slideIndexMain += n;
        if (slideIndexMain >= slidesMain.length) slideIndexMain = 0;
        if (slideIndexMain < 0) slideIndexMain = slidesMain.length - 1;
        showSlidesMain(slideIndexMain);
    }

    const prevSlide = document.getElementById("prevSlide");
    const nextSlide = document.getElementById("nextSlide");

    if (prevSlide && nextSlide) {
        prevSlide.addEventListener("click", () => changeSlideMain(-1));
        nextSlide.addEventListener("click", () => changeSlideMain(1));
    }

    // COLLAPSIBLE SECTIONS
    function setupCollapsible(buttonId, contentId) {
        const button = document.getElementById(buttonId);
        const content = document.getElementById(contentId);

        if (button && content) {
            button.addEventListener("click", function () {
                if (content.classList.contains("max-h-0")) {
                    content.classList.remove("max-h-0", "opacity-0");
                    content.classList.add("max-h-screen", "opacity-100");
                    button.classList.replace("-rotate-90", "rotate-90");

                    content.scrollIntoView({ behavior: 'smooth', block: 'start' });
                } else {
                    content.classList.add("max-h-0", "opacity-0");
                    content.classList.remove("max-h-screen", "opacity-100");
                    button.classList.replace("rotate-90", "-rotate-90");
                }
            });
        }
    }

    setupCollapsible("toggleButton1", "collapsibleContent1");
    setupCollapsible("toggleButton2", "collapsibleContent2");
    setupCollapsible("toggleButton4", "collapsibleContent4");
    setupCollapsible("toggleButton5", "collapsibleContent5");

});

</script>