---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Box from "../components/Box.astro";
import Skills from "../components/Skills.astro";
import Skillscode from "../components/Skillscode.astro";
import Gallery2 from "../components/Gallery2.astro"
import Text from "../components/Text.astro"
import Section from "../components/Section.astro";
---
<MainLayout title="Titel">


<div class=" flex flex-col justify-center items-center gap-y-5 lg:flex-row ">
<Box overskrift="IDA MIKKELSEN", underoverskrift1="DESIGN WITH PURPOSE", underoverskrift2="ART WITH SOUL" />

<article class="flex flex-row">
    <button id="prevSlide" class="text-blue-500 hover:text-blue-700 text-6xl font-bold">
        &#10094;
      </button>

      <div class="relative w-full flex justify-center">
        <div class="mySlides">
          <Skills />
        </div>

        <div class="mySlides hidden">
          <Skillscode />
        </div>
      </div>
 <!-- Right Arrow -->
 <button id="nextSlide" class="text-blue-500 hover:text-blue-700 text-6xl font-bold">
    &#10095;
  </button></article>

</div>





<div>
<Box overskrift="Graphics", underoverskrift1="AND ILLUSTRATIONS" />

</div>
<div class="flex items-center justify-center flex-col md:flex-row ">
<Gallery2 />
<Text tekst="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tempore assumenda doloremque praesentium quia aut. Eius ipsa, maxime beatae ipsam necessitatibus, fugiat labore culpa porro esse, sit eaque qui doloribus!"></Text>
</div>


<Section></Section>
</MainLayout>

<script is:inline>
    let slideIndexMain = 0;
    const slidesMain = document.querySelectorAll(".mySlides");
  
    function showSlidesMain(index) {
      slidesMain.forEach((slide, i) => {
        slide.style.display = i === index ? "block" : "none";
      });
    }
  
    function changeSlideMain(n) {
      slideIndexMain += n;
      if (slideIndexMain >= slidesMain.length) slideIndexMain = 0;
      if (slideIndexMain < 0) slideIndexMain = slidesMain.length - 1;
      showSlidesMain(slideIndexMain);
    }
  
    document.getElementById("prevSlide").addEventListener("click", () => changeSlideMain(-1));
    document.getElementById("nextSlide").addEventListener("click", () => changeSlideMain(1));
  
    // Initialize first slide
    showSlidesMain(slideIndexMain);
  </script>
  