---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Box from "../components/Box.astro";
import Skills from "../components/Skills.astro";
import Gallery from "../components/Gallery.astro";
---
<MainLayout title="Titel">


<div class="flex flex-row">
<Box overskrift="IDA MIKKELSEN", underoverskrift1="DESIGN WITH PURPOSE", underoverskrift2="ART WITH SOUL" />
</div>

<Box overskrift="Graphics", underoverskrift1="AND ILLUSTRATIONS" />

<Gallery />
<Skills />

</MainLayout>