---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Box from "../components/Box.astro";
---
<MainLayout title="Titel">
	<article>
		<p>Index indhold</p>
		<div class="w-32">
			<div>IDA MIKKELSEN</div>
			<img src="/test.png" alt="" class="w-full h-auto">
		</div>
	</article>
<Box />
</MainLayout>