---
const {overskrift, underoverskrift1, underoverskrift2} = Astro.props;

---

<div class="flex flex-col  flex-1 lg:self-start">
<section class="box font-fugaz flex-1  lg:max-w-[885px] lg:min-w-[630px]">
    <h1 class="text-yellow-500 text-[2.5rem] -ml-4 sm:text-[3.5rem] sm:-mt-2 md:text-[4rem] md:-ml-5 lg:text-[5rem] lg:-ml-6 lg:-mt-4">{overskrift}</h1>
    <img src="/tech1.png" alt="" class="-ml-4 w-[80%] max-w-[17em] h-auto -mt-[0.8rem]">
  
    <div class="text-pink-500 text-[1rem] grid mr-4 mt-5 sm:text-[1.5rem] sm:mr-7 md:text-[1.8rem] md:mr-12 lg:text-[2rem] lg:mr-20">
      <img src="/tech2.png" alt="" class="w-[80%] max-w-[17em] h-auto place-self-end -mb-[0.7rem]">
      <h2 class="place-self-end mr-12 text-[clamp(1rem, 4vw, 2rem)]">{underoverskrift1}</h2>
    <h3 class="place-self-end text-[clamp(0.8rem, 3vw, 1.5rem)] -mt-2">{underoverskrift2}</h3>
</div>
</section>
<div class="banner h-[60px] mt-10 ">
  <div class="track">
    <div class="content w-full font-goldman text-Blue-500 text-[20px] font-mont md:text-[25px] xl:text-[25px]">Illustrator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphic designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UI UX designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frontend designer&nbsp;&nbsp;&nbsp;&nbsp;Illustrator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphic designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UI UX designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frontend designer&nbsp;&nbsp;&nbsp;&nbsp;Illustrator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graphic designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UI UX designer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frontend designer&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
</div>
</div>



<style>

.banner {
  position: relative;
      overflow: hidden;
        background-size:  auto;
  
        display: flex;
        align-items: center;
      }
  
      .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: banner 10s linear infinite;
      }
  
      @keyframes banner {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }

      .banner::before,
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10%; /* Adjust width for the blur effect */
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.banner::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.banner::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}
  .box {
    --background-color: black;
    --border-colour: #FFBF31;
--border-width: .1em;
--egde-size: 2.5em;

position: relative;
isolation: isolate;

display: inline-grid;
overflow: hidden;
padding: 0.5em 1.5em;
border: 0;
background: var(--background-color);
clip-path: polygon( 
    /* top-left 1 */
0% var(--egde-size),
    /* top-left 2 */
    var(--egde-size) 0%, 
        /* top-right  */
    100% 0, 
            /* buttom-right 1 */
    100% calc(100% - var(--egde-size)), 
                /* buttom-right 2 */
    calc(100% - var(--egde-size)) 100%, 
                /* buttom-left */
    0 100%
    );
  }

  .box::before,
  .box::after {
    content: '';
    position: absolute;
    inset: 0;
  }


  .box::before {
    background: var(--border-colour);
    z-index: -2;
  }


  .box::after {
    background: var(--background-color);
    z-index: -1;

    clip-path: polygon( 
    /* top-left 1 */
var(--border-width) 
calc(var(--egde-size) + var(--border-width) * .5),
    /* top-left 2 */
    calc(var(--egde-size) + var(--border-width) * .5)
    var(--border-width), 
        /* top-right  */
    calc(100% - var(--border-width)) 
    var(--border-width), 
            /* buttom-right 1 */
    calc(100% - var(--border-width) )  
    calc(100% - calc(var(--egde-size) + var(--border-width) * .5)), 
                /* buttom-right 2 */
    calc(100% - calc(var(--egde-size) + var(--border-width) * .5))
    calc(100% - var(--border-width) ) , 
                /* buttom-left */
    var(--border-width)  
    calc(100% - var(--border-width) ) 
    );
  }
</style>