---
const {overskrift, underoverskrift1, underoverskrift2} = Astro.props;

---


<section class="box font-fugaz lg:self-start sm:w-[450px] md:w-[500px]">    
    <h1 class="text-yellow-500 text-[2.5rem] -ml-4 sm:text-[3.5rem] sm:-mt-2 md:text-[4rem] md:-ml-5 lg:text-[5rem] lg:-ml-6 lg:-mt-4">{overskrift}</h1>
    <img src="tech1.png" alt="Techdesign" class="-ml-4 w-[80%] max-w-[17em] h-auto -mt-[0.8rem]">
  
    <div class="text-pink-500 text-[1rem] grid mr-4 mt-5 sm:text-[1.5rem] sm:mr-7 md:text-[1.8rem] md:mr-12 lg:text-[2rem] lg:mr-20">
      <h2 class="place-self-end mr-12 text-[clamp(1rem, 4vw, 2rem)]">{underoverskrift1}</h2>
    <h3 class="place-self-end text-[clamp(0.8rem, 3vw, 1.5rem)] -mt-2">{underoverskrift2}</h3>
</div>
</section>



<style>

  .box {
    --background-color: black;
    --border-colour: #FFBF31;
--border-width: .1em;
--egde-size: 2.5em;

position: relative;
isolation: isolate;

display: inline-grid;
overflow: hidden;
padding: 0.5em 1.5em;
border: 0;
background: var(--background-color);
clip-path: polygon( 
    /* top-left 1 */
0% var(--egde-size),
    /* top-left 2 */
    var(--egde-size) 0%, 
        /* top-right  */
    100% 0, 
            /* buttom-right 1 */
    100% calc(100% - var(--egde-size)), 
                /* buttom-right 2 */
    calc(100% - var(--egde-size)) 100%, 
                /* buttom-left */
    0 100%
    );
    /* max-width: clamp(630px, 67vw, 885px); */

   

  }

  @media (min-width: 1024px) { /* lg breakpoint */
  .box {
    width: clamp(633px, calc(633px + (850 - 633) * ((100vw - 1024px) / (1280 - 1024))), 880px);
  }
}

  .box::before,
  .box::after {
    content: '';
    position: absolute;
    inset: 0;
  }


  .box::before {
    background: var(--border-colour);
    z-index: -2;
  }


  .box::after {
    background: var(--background-color);
    z-index: -1;

    clip-path: polygon( 
    /* top-left 1 */
var(--border-width) 
calc(var(--egde-size) + var(--border-width) * .5),
    /* top-left 2 */
    calc(var(--egde-size) + var(--border-width) * .5)
    var(--border-width), 
        /* top-right  */
    calc(100% - var(--border-width)) 
    var(--border-width), 
            /* buttom-right 1 */
    calc(100% - var(--border-width) )  
    calc(100% - calc(var(--egde-size) + var(--border-width) * .5)), 
                /* buttom-right 2 */
    calc(100% - calc(var(--egde-size) + var(--border-width) * .5))
    calc(100% - var(--border-width) ) , 
                /* buttom-left */
    var(--border-width)  
    calc(100% - var(--border-width) ) 
    );
  }



</style>