<!-- Slideshow container -->
<div class="slideshow-container gallery2 w-[50%] max-w-[300px] lg:max-w-[500px]">

    <!-- Full-width images with number and caption text -->
    <div class="mySlidesGallery2 fade">
      <div class="numbertext">1 / 3</div>
      <img src="/billed4.jpg" style="width:100%">
    </div>
  
    <div class="mySlidesGallery2 fade">
      <div class="numbertext">2 / 3</div>
      <img src="/billed1.png" style="width:100%">
    </div>
  
    <div class="mySlidesGallery2 fade">
      <div class="numbertext">3 / 3</div>
      <img src="/billed2.png" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="sidste" onclick="plusSlidesGallery2(-1)">&#10094;</a>
    <a class="neste" onclick="plusSlidesGallery2(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dotGallery2" onclick="currentSlideGallery2(1)"></span>
    <span class="dotGallery2" onclick="currentSlideGallery2(2)"></span>
    <span class="dotGallery2" onclick="currentSlideGallery2(3)"></span>
  </div>

  <style>
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlidesGallery2 {
  display: none;
}

/* Next & previous buttons */
.sidste, .neste {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.neste {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.sidste:hover, .neste:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotGallery2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dotGallery2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  </style>



<script is:inline>
    let slideIndexGallery2 = 1;
    showSlidesGallery2(slideIndexGallery2);
  
    function plusSlidesGallery2(n) {
        showSlidesGallery2(slideIndexGallery2 += n);
    }
  
    function currentSlideGallery2(n) {
        showSlidesGallery2(slideIndexGallery2 = n);
    }
  
    function showSlidesGallery2(n) {
      let i;
      let slides = document.getElementsByClassName("mySlidesGallery2");
      let dots = document.getElementsByClassName("dotGallery2");
      if (n > slides.length) {slideIndexGallery2 = 1}
      if (n < 1) {slideIndexGallery2 = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndexGallery2-1].style.display = "block";
      dots[slideIndexGallery2-1].className += " active";
    }
  </script>
  